* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: #544837
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-holder {
    font-size: 16px;
    line-height: 26px;
}

.side-part,
.image-holder {
    width: 50%;
    padding-right: 30px;
}

.image-holder {
    padding-right: 0;
}

.header {
    padding:45px 0 24px;
    margin-bottom: 30px;
}

.logo-holder {
    justify-content: flex-start;
    align-items: center;
}

.logo-holder img {
    width: 100%;
    max-width: 185px;
}

.header .nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.header .nav-item {
    display: inline-block;
    padding-right:25px;
}

.nav-link {
    text-decoration: none;
    color:#2F281E;
    font-size: 14px;
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;    
}

.btn-list li {
    padding-right: 14px;
}

.btn-white {
    display: block;
    border: 1px solid #BCD0E5;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
}

.btn-orange {
    display: block;
    border: none;
    background-color: #FF9900;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.btn-list .btn-orange {
    padding: 10px 20px;
    font-weight: 600;
}

.hero-title {
    font-size: 44px;
    line-height: 54px;
    color:#2F281E;
    margin: 0 0 30px;
}

.hero-section .text-holder {
    width: 100%;
    max-width: 460px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}

.hero-btns {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-btns .btn-orange {
    display: block;
    font-weight: bold;
    padding: 15px 40px;
    margin-right: 30px;
}

.hero-btns .hero-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #FF9900;
    font-weight: 600;
    font-size: 16px;
}

.hero-link img {
    margin-right: 8px;
}

.hero-section {
    margin-bottom: 111px;
}

.feature .section-title {
    margin: 0 auto;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color:#2F281E;
    max-width:539px;
    margin-bottom: 54px;
}

.feature .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 34px;
}

.column {
    width: 100%;
    max-width: 240px;
}

.column .image-holder {
    margin-bottom: 30px;
}

.sub-title {
    color:#2F281E;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 13px;    
}

.column-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.feature .btn-orange {
    max-width: 175px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 32px 14px 34px;
}

.feature {
    margin-bottom: 90px;
}

.footer {
    margin-bottom: 83px;
}

.footer > .container {
    border-top: 1px solid rgba(188, 208, 229, 0.496913);
    padding-top: 105px;
}

.footer .flex-container {
    justify-content: flex-end;
    align-items: flex-end;
}

.footer .logo-holder {
    padding-bottom: 30px;
}

.footer .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 35px;
    width: 240px;
    padding-right: 20px;
}

.footer .form {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-input {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    width: 100%;
    width: 325px;
    height: 48px;
    margin-bottom: 21px;
}

.form .btn-orange {
    font-weight: bold;
    font-size: 16px;
    padding: 8px 15px;
}