.marketers {
    margin-bottom: 146px;

    @include breakpoint(xl) {
        margin-bottom: 100px;
    }

    @include breakpoint(lg) {
        margin-bottom: 80px;
    }

    .side-part {
        padding: 39px 82px 39px 0;

        @include breakpoint(lg) {
            padding: 39px 50px 39px 0;
        }
    }
}