.product-managers {
    margin-bottom: 104px;

    @include breakpoint('lg') {
        margin-bottom: 80px;
    }

    @include breakpoint('md') {
        margin-bottom: 60px;
    }

    @include breakpoint('md') {
        margin-bottom: 10px;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        padding-left: 65px;
        margin-bottom: 30px;
        position: relative;

        &:before {
            content: '';
            background-color: $orange;
            width: 35px;
            height: 35px;
            border-radius: 14px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left:0;
            border-bottom: 2px solid $white;
            border-left: 2px solid $white;
            width:15px;
            height: 8px;
            top: 18px;
            left: 10px;
            transform: rotate(-50.8deg);

            @include breakpoint('sm') {
                top: 8px;
                left: 10px;
            }

            @include breakpoint('xs') {
                top: 20px;
                left: 10px;
            }
        }
    }

    .side-part {
        padding: 49px 0 45px 100px;

        @include breakpoint('lg') {
            padding: 49px 0 45px 63px;
        }

        @include breakpoint('md') {
            padding: 49px 0 45px 40px; 
        }

        @include breakpoint('sm') {
            padding: 49px 40px 45px 40px;
        }

        @include breakpoint('xs') {
            padding: 49px 25px 0 25px;
        }
    }

    .image-holder {
        @include breakpoint('sm') {
            order: 2;
        }
    }
}