*, 
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    font-size: $font-size-global;
    line-height: $line-height;
    color: $black-light;
    font-weight: 500; 
    
    @include breakpoint(xl) {
        font-size: 15px;
    }

    @include breakpoint(md) {
        font-size: 14px;
        line-height: 1.5;
    }
}

main {
    padding-top: 140px;
}

img {
    display: block;
    max-width: 100%;

    @include breakpoint(sm) {
        max-width: 70%;
        margin: 0 auto;
    }
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin: 0 auto;
    font-size: $font-size-section-title;
    line-height: $line-height-section;
    color: $black;

    @include breakpoint(xl) {
        font-size: 34px;
    }

    @include breakpoint(lg) {
        font-size: 32px;
    }

    @include breakpoint(md) {
        font-size: 28px;
    }

    @include breakpoint(sm) {
        font-size: 26px;
    }

    @include breakpoint(xxs) {
        font-size: 24px;
        line-height: 1.3;

    }
}

.side-part,
.image-holder {
    width: 50%;
    padding-right: 30px;

    @include breakpoint(sm) {
        width: 100%;
    }   
}

.image-holder {
    padding-right: 0;
}

.logo {
    justify-content: flex-start;
    align-items: center;

    &__img {
        width: 100%;
        max-width: 185px;

        @include breakpoint(xl) {
            max-width: 180px;
        }

        @include breakpoint(sm) {
            max-width: 160px;
        }
    }
}

.nav__link {
    text-decoration: none;
    color: $black;
    font-size: 14px;
}

.btn {
    display: block;
    padding: 11px 23px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;

    &_white {
        border: 1px solid #BCD0E5;
        color: #173A56;
        background-color: $white;
    }

    &_orange {
        background-color: $orange;
        border: 1px solid $orange;
        color: $white;
    }
}

.column {

    @include breakpoint(xl) {
        max-width: 200px;
    }

    @include breakpoint(lg) {
        max-width: 48%;
        padding: 40px;
    }

    @include breakpoint(md) {
        max-width: 45%;
        padding: 20px;
    }

    @include breakpoint(sm) {
        max-width: 40%;
        padding: 20px;
    }

    @include breakpoint(xs) {
        max-width: 100%;
        padding: 20px;
    }

    width: 100%;
    max-width: 240px;

    &__img-holder {
        margin-bottom: 30px; 
        
        @include breakpoint(xxs) {
            margin-bottom: 20px;

        }
    }

    &__img {
        max-width: 50px;
        width: 100%;

        @include breakpoint(md) {
            max-width: 45px;
        }

        @include breakpoint(sm) {
           margin: 0;
        }
    }

    &__sub-title {
        color: $black;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 13px;
        
        @include breakpoint(lg) {
            font-size: 20px;
        }

        @include breakpoint(md) {
            font-size: 18px;
        }
    }
}

.form {
    list-style: none;
    margin: 0;
    padding: 0;

    &__list {
        list-style: none;
        padding: 0;
    }

    &__input {
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        width: 100%;
        width: 325px;
        height: 48px;
        margin-bottom: 21px;

        @include breakpoint(xl) {
            width: 300px;
        }
        
        @include breakpoint(lg) {
            width: 250px;
            height: 40px;
        }

        @include breakpoint(md) {
            max-width: 100%;
        }

        @include breakpoint(sm) {
            width: 100%;
        }   
    }

    .btn_orange {
        font-weight: bold;
        font-size: 16px;
        padding: 8px 15px;
    }
}